<h1>Home#dodger</h1>
<p>Find me in app/views/home/dodger.html.erb</p>

<section>
  <% @photos.each do |p| %>


<div class="row">
  <div class="col s12 m4">
    <!-- Reveal Card -->
    <div class="card">
      <div class="card-image">
        <img src="<%= p.background_img %>" class="materialboxed">
        <span class="card-title"> <i class="material-icons">location_on</i> <%=p.location %> </span>
      </div>
      <div class="card-content">
        <span class="card-title">Username</span>
        <!-- image , date -->
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
        <p><%= p.content %></p>
        <p>These are Comments</p>
      </div>
      <div class="card-action">
        <%= link_to like_photo_path(p), method: :put do %>
          <i class="material-icons" style="margin-right: 10px;">thumb_up</i>
        <% end %>
        <b style="font-size: 19px;"><%= p.get_upvotes.size %></b>
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      </div>
    </div>
  </div>
</div>
<% end %>

</section>
