<!DOCTYPE html>
<html>
<head>
  <title>  Meet LA 2024 </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert {
    margin-top: 1%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  nav {
    padding: 0 2%;
  }
  .carousel-item{
     filter: grayscale(50%);
  }

  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<%= render "layouts/navbar" %>

<div>
  <% if notice != nil %>
    <p class="alert alert-success" style="position: absolute; z-index: 1; width: 50%; margin-top: -20px; opacity:0.9;"> <%= notice%> </p>
  <% end %>
  <% if alert != nil %>
    <p class="alert alert-danger" style="position: absolute; z-index: 1; width: 50%; margin-top: -20px; opacity:0.9;"> <%= alert%> </p>
  <% end %>
</div>

<%= yield %>
      </div>


<%= render "layouts/footer" %>
</body>
</html>
