<!DOCTYPE html>
<html>
<head>
  <title>  | </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%= render "layouts/navbar" %>

<% if notice != nil %>
  <p class="alert alert-success" style="margin-top: 1%;"> <%= notice%> </p>
<% end %>
<% if alert != nil %>
  <p class="alert alert-danger" style="margin-top: 1%;"> <%= alert%> </p>
<% end %>

<%= yield %>

</body>
</html>
